---
import styles from './Services.module.css';
import ServiceCard from '../ServiceCard/ServiceCard.astro'; 
import { getLangFromUrl, useTranslations } from "../../i18n/utils"
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
import { Icon } from 'astro-icon/components';
---
<section id="services" class:list={['container', styles.services]}>
    <h2>{t('services.title')}</h2>
    <div class={styles.grid}>
        {t('services.cards').map(service => (
            <ServiceCard 
                title={service.title} 
                description={service.description}>
                <Icon name={service.iconName} class={styles.icon} />
            </ServiceCard>
        ))}
    </div>
</section>