---
import styles from './Thanks.module.css';
import LottieHero from '../../../utils/lottieHero';
import Avion from '../../../assets/lottie/avion.json';
import { getLangFromUrl, useTranslations } from "../../../i18n/utils"
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---  
<main class={styles.mainContainer}>
    <!-- 1. El Fondo Animado -->

    <!-- 2. El Contenido Centrado -->
    <div class={styles.contentWrapper}>
      
      <!-- 3. La Tarjeta de Agradecimiento -->
      <div class={styles.thankYouCard}>
        <div class={styles.titleContainer}>
          <h1 class={styles.title}>
            {t('thanksPage.title')} <span class={styles.highlight}>{t('thanksPage.exclamationMark')}</span>
          </h1>
          <div class={styles.lottie}>
            <LottieHero client:only="react" item={Avion}
              width={70}
              height={70}
            />
          </div>
        </div>
        
        <p class={styles.subtitle}>
          {t('thanksPage.subtitle')}
        </p>
        <a href="/" class={styles.homeButton}>
          {t('thanksPage.buttonText')}
        </a>
      </div>
    </div>

    <!-- 4. El Componente de Confeti (Isla de Astro) -->
</main>
