---
import styles from './Process.module.css';
import { getLangFromUrl, useTranslations } from "../../i18n/utils"
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<section id="process" class:list={['container', styles.process]}>
    <h2>{t('process.title')}</h2>
    <div class={styles.timeline}>
        {t('process.steps').map((step, index) => (
            <div class={styles.step}>
                <div class={styles.number}>{index + 1}</div>
                <h3>{step.title}</h3>
                <p>{step.description}</p>
            </div>
        ))}
    </div>
</section>