---
import styles from './Faq.module.css';
import { getLangFromUrl, useTranslations } from "../../../i18n/utils"
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<section id="faq" class={ styles.faqSection}>
    <h2>{t('faq.title')}</h2>
    <p class={styles.subtitle}>{t('faq.subtitle')}</p>
    <div class={styles.faqGrid}>
        {t('faq.items').map(item => (
            <details class={styles.faqItem}>
                <summary class={styles.question}>{item.question}</summary>
                <div class={styles.answer}>
                    <p>{item.answer}</p>
                </div>
            </details>
        ))}
    </div>
</section>