---
import styles from './Hero.module.css';
import LottieHero from '../../utils/lottieHero';
import heroAnimation from '../../assets/lottie/hero.json';
import { getLangFromUrl, useTranslations } from "../../i18n/utils"
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<section class={styles.hero}>
    <div class={styles.content}>
        <h1 class={styles.title}>
            {t('hero.title.prefix')}
            <span class={styles.highlight}>
                {t('hero.title.highlight')}
            </span>
            {t('hero.title.suffix')}
        </h1>
        <p class={styles.subtitle}>
            {t('hero.subtitle')}
        </p>
        <a href="#cta" class={styles.ctaButton}>{t('hero.ctaButton')}</a>
    </div>
    <div class={styles.lottie}>
        <LottieHero client:only="react" item={heroAnimation} />
    </div>
</section>